{% extends "base.html" %}

{% block content %}
    <img src = "{{memepost.url}}"  height="300" width="300"><br>
    <h4><small>{{ instance.creation_date|timesince }} ago</small></h4>


    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'></a>


<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>
<a href="{% url 'memes:delete' instance.id %}"><button type="button" class="btn btn-danger">Delete</button></a>



{% endblock content%}
