{% extends "base.html" %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
    {% endfor %}
{% endif %}
</ul>
    <form method="post" action="" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="upload meme">
    </form>
{% endblock content %}